
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    --teal-blue: #1693a5;
	--turquoise: #45b5c4;
	--aquamarine: #7ececa;
	--seafoam-green: #a0ded6;
	--pale-aqua: #c7ede8;
	--white: #fff;
	--light-gray: #dfdfdf;
	--keppel: #2ebfa5;
	--mint-green: #caf3be;
	--dodger-blue: #3083dc;
	--red: #e90909;
	--white-gray: #f1f1f1;
	--silver: #a5a5a5;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}
 
/* .app {
    display: grid;
    grid-template-areas: 
    "header"
    "main";
} */

.menu {
    grid-area: menu;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.button {
    cursor: pointer;
}

.invoices-container {
    max-width: 1280px;
    margin: auto;
}

.invoices-header {
    min-height: 60px;
    border-bottom: 1px solid #b8b5b5;
}

.invoices-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: var(--dodger-blue);
    padding: 0 20% 0 20%;
}

.invoices-current {
    color: var(--white);
    font-weight: bold;
    font-size: 1.8rem;
}

.invoices-prev, .invoices-next { 
    color: var(--light-gray);
    font-weight: bold;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-table .invoice-row {
    height: 50px;
    border-bottom: 1px solid #b8b5b5;
}

.invoice-table .invoice-row.border-disabled {
    border-bottom: 0;
}

.invoice-table td:nth-child(1) {
    width: 10%;
    text-align: center;
}

.invoice-table td:nth-child(2) {
    width:50%;
}

.invoice-table td:nth-child(3) {
    width: 30%;
}

.invoice-table td:nth-child(4) {
    width: 10%;
    text-align: center;
}


